/*

   '  _ )__/  _     _ 
  /()(-/  /(///)/)_)  
_/             /  

*/

input
{
	font-size:14px;
}


ul li 
{
	list-style:none;
}

#sites li
{
	padding:9px 10px 26px 0;
	margin:1px 0;
}
.notify
{
	color:#ab3c40;
}

#signup-processing
{
	display:none;
	padding: 6px 0px 0px 20px;
}

#sidebar
{
	margin:5px 0 0;	
}
	
	
#sidebar ul li
{
	padding:5px 0 0;
}

.hover-border:hover
{
	border-bottom: 1px solid #E2E2E2;
}

	
#footer a
{
	padding: 0 5px 0;
}

.display-none
{
	display:none;
}
	
#add-a-site
{

}


#sites iframe 
{
	width:225px;
	height:90px;
	overflow:auto;
}

#tab-nav ul 
{
	padding:0;
}

#tab-nav li 
{
	display:inline;
	border:none;
	margin:0;
	padding:0 5px;
}
		
a,a:hover , input[type="submit"]
{
	text-decoration:none;
}

#sidebar ul li,#add-a-site li 
{
	padding:5px 0 0;
}

.display-none,#basic{
	display:none;
}

textarea
{
	font-size:10px;
	height:90px;
}

.bigPadded{padding:10px 15px;}
